.DS_Store
.vs*
*.iml
.gradle
**/assets
**/build
doc*/
gh-pages/
www/**/config*
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/node_modules
/captures
.externalNativeBuild
.cxx
