<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.rdipardo.weatherwizard" version="1.2.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Weather Wizard</name>
    <description>
        A simple weather feed generator for Android.
	</description>
    <author email="dipardo.r@gmail.com" href="https://heredocs.io/">
        Robert Di Pardo
	</author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <allow-intent href="market:*" />
        <splash src="www/splash.png" />
        <icon src="www/icon.png" />
        <hook type="before_prepare" src="scripts/validate.js" />
    </platform>
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="2000" />
</widget>
