h1, section {
    padding-top: 0;
}

h1 {
    margin: 0;
}

.gh-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.gh-meta p {
    padding: 0 1.75em;
}

.gh-meta p ~ p {
    margin: 0.15em 0 0;
}

.fa.fa-github {
    line-height: 20px;
    font-size: 3.25em;
}

@media only screen and (max-width: 750px) {
    body {
        display: flex;
        flex-direction: column-reverse;
    }
    h1 {
        font-size: 2em;
    }
    h2, h3.subsection-title {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1em;
    }
    table {
        display: none;
    }
    section {
        margin-right: 0;
        padding-top: 0;
        width: 100%;
    }
    article h1, h2, h3, h4, h5, h6, div, p, ul, ol, li {
        width: 100%;
        max-width: max-content;
    }
    nav {
        float: none;
        margin-top: 0;
    }
    footer {
        display: none;
    }
    .gh-meta {
        display: block;
        padding-top: 1.5em;
    }
    .gh-meta p {
        white-space: nowrap;
    }
    .fa.fa-github {
        font-size: 2.75em;
    }
}